<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
    <span th:text = "${'Hello mr. ' +name}"></span>
<table>
    <thead>
    <tr>
        <th>column1</th>
        <th>column2</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item, iterStat : ${animals}"
        th:style="${iterStat.odd} ? 'font-weight: bold;'">
        <td th:text="${iterStat.index}+1" ></td>
        <td th:text="${item.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>